body {
    font-family: serif, sans-serif;
    word-spacing: 0.1em;
    color: #011936;
    max-width: 90%;
    margin: 0 auto;    
    background: -webkit-radial-gradient(rgb(231, 223, 198), rgb(252, 119, 83));
    background: radial-gradient(rgb(231, 223, 198), rgb(252, 119, 83));
    background-image: url(./3872532.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

p {
    font-size: 18;
}

a:visited {
    color: #0B6E4F;
}

a:hover {
    color: #3E92CC;
}

blockquote {
    max-width: 50%;
    margin: 80px auto;
    font-size: 160%;
    background-color: #537A5A;
    border-left: 3px solid black;
    padding-left: 30px;
}